@model TrainerList.Models.UserModel

@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Details", "User", routeValues: new {id = "0ddc29d0d97dac7f5c5a8097f4000f58"} , htmlAttributes: new { @class = "username", title = "Manage" })!
        @Html.ActionLink("LogOff", "LogOff" , "User")
    </text>
} else {
        <li class="float-right dropdown" >
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">Login</a>
                <form class="dropdown-menu row" role="menu" aria-labelledby="dLabel"  method="post" action="/User/Login" > 
                    <div class="span3 dropdown-login">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true) 
                        
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "TextAlign-Left" })
                        <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        </div>
                        
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "TextAlign-Left" })
                        <div class="editor-field">
                        @Html.EditorFor(model => model.Password)
                        </div >
                        
                        <div class="editor-field" >
                            <div style="float : left ">
                                @Html.LabelFor(model => model.RememberMe)
                            </div>
                            
                            <div style="float : left  ; margin-left : 5px  " >
                                @Html.EditorFor(model => model.RememberMe)
                            </div>
                        </div>
                        
                        <div style=" clear : both ;">
                            <div class="dropdown-signin " style =" display : block ">
                                <input type="submit" style="height : 30px" class=" btn float-left btn-primary " value="Login"  />
                                @Html.ActionLink("Register", "New", "User", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="float-right btn" })
                            </div>
                        </div>
                           
                    </div>
                </form>
        </li>
    
    
    
    
   
}
