@model TrainerList.Models.UserLogin
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @Html.ActionLink("LogOff", "LogOff" , "User")
    </text>
} else {
        <li class="float-right dropdown" >
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">Login</a>
                <form class="dropdown-menu row" role="menu" aria-labelledby="dLabel"  method="post" action="User/Login" > 
                    <div class="span3 dropdown-login">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true) 
                        
                        
                        <div class="editor-field">
                            @Html.EditorFor(model => model.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RememberMe)
                        </div>
                       <!-- 
                            <input class="dropdown-username" type="text" placeholder="username"  > 
                            <input class="dropdown-password" type="password" placeholder="password">
                            <input class="dropdown-rememberme" type="checkbox"   />
                        -->
                        <div class="dropdown-signin ">
                               <input type="submit" style="height : 30px" class=" btn float-left btn-primary " value="Login"  />
                        </div> 
                        <div "block" class=" dropdown-register" >
                             @Html.ActionLink("Register", "create", "User", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="float-right btn" })
                        </div>
                            
                    </div>
                </form>
        </li>
    
    
    
    
   
}
