@model TrainerList.Models.EventModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>EventModel</legend>


       
        <div class="editor-label">
            @Html.LabelFor(model => model.Timestamp)
        </div>
        <div class="editor-field ">
            <div id="datetimepicker1" class="input-append date">
                @Html.TextBoxFor(model => model.Timestamp, new Dictionary<string , object>{ {"class","datepicker text-box singl-line"},{"data-format","yyyy-MM-dd T hh:mm:ss T Z D"}}) 
           
                @Html.ValidationMessageFor(model => model.Timestamp)
                <span class="add-on">
                   <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
                </span>
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

